@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');

html {
    font-family: 'Fira Sans', sans-serif;
}

body {
    background-color: rgb(121, 134, 172);
}

h1 {
    text-align: center;
    font-size: 75px;
    margin-top: 50px;
    color: black;
}

hr {
    margin: 15px 175px;
}

h2 {
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
}

.round-container {
    padding: 40px 20px;
    text-align: center;
}

.popup-container {
    background-color: rgb(211, 111, 103);
    padding: 40px 40px;
    left: 0;
    right: 0;
    position: absolute;
    display: none; /*change to block when user round 10 */
    z-index: 9999;
    overflow: hidden;
}

.popup-shrink {
    text-align: center;
}

.popup-shrink .fa-exclamation-triangle {
    color: rgb(80, 0, 16);
    background-color: none;
    filter: drop-shadow(0 0 1rem rgb(255, 63, 48));
}

.popup-shrink h1 {
    font-size: 45px;
    padding: 25px 25px;
}

.popup-shrink label {
    font-size: 30px;
    padding: 20px 20px;
}

.popup-shrink button {
    margin: 20px 20px;
    padding: 20px 20px;
    border-radius: 50%;
    border: none;
    filter: drop-shadow(0 0 0.75rem black);
    -webkit-transition-duration: .5s;
}

.popup-shrink #playagain {
    background-color: rgb(70, 143, 115);
    color: rgb(57, 113, 18);
}

.popup-shrink #quit {
    color: rgb(124, 20, 30);
    background-color: rgb(204, 99, 109);
}

.popup-shrink button:hover {
    transform: scale(1.2);
}

.popup-shrink button:focus {
    outline: none;
    box-shadow: none;
}

.round-container h3 {
    font-size: 40px;
    color: white;
}

.graphics-hand-container {
    text-align: center;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.user-hand-container {
    overflow: hidden;
}

.user-hand-container h4 {
    font-size: 20px;
}

.user-hand-container .user-img {
    transform: scaleX(-1);
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    animation-duration: 0.5s;
    animation-iteration-count: 3;
    transform-origin: bottom;
    filter: drop-shadow(0 0 0.75rem black);
}


.computer-hand-container h4 {
    font-size: 20px;
}

.computer-hand-container .comp-img {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    animation-duration: 0.5s;
    animation-iteration-count: 3;
    transform-origin: bottom;
    filter: drop-shadow(0 0 0.75rem black);
}

.hand-bounce {
    animation-name: hand-bounce;
    animation-timing-function: ease;
}

@keyframes hand-bounce {
    0%   { transform: translateY(0); }
    30%  { transform: translateY(-100px); }
    70%  { transform: translateY(0); }
    100% { transform: translateY(0); }   
}

.hand-bounce-user {
    animation-name: hand-bounce-user;
    animation-timing-function: ease;
}

@keyframes hand-bounce-user {
    0% { 
        transform: translateY(0) scaleX(-1);
    }

    30% {
        transform: translateY(-100px) scaleX(-1);
    }

    70% {
        transform: translateY(0) scaleX(-1);
    }

    100% {
        transform: translateY(0) scaleX(-1);
    }
}


.answer-container {
    text-align: center;
    padding: 20px 20px;
}

.answer-container h4 {
    font-size: 25px;
    padding: 20px 20px;
}

.btn-container button {
    padding: 15px 15px;
    margin: 15px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(105, 150, 156);
    filter: drop-shadow(0 0 0.75rem black);
    -webkit-transition: transform .3s ease-in-out;
}

.btn-container button:hover {
    transform: scale(1.3);
}

.btn-container button:focus {
    outline: none;
    box-shadow: none;
}

.results-container {
    font-weight: 900;
}

.results-container h4 {
    color: white;
}

.signature {
    margin-top: 100px;
    text-align: center;
}